* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, #385300, #212900);
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: #bef227;
  width: 476px;
  height: 615px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.counter--limit {
  background-color: #a3d11b;
}

.counter__title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
}

.counter__value {
  color: #1d2507;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.counter__reset-button {
  cursor: pointer;
}

.counter__reset-icon {
  opacity: 0.3;
  font-size: 35px;
  transition: all 0.4s;
}

.counter__reset-icon:hover {
  opacity: 0.5;
}

.counter__buttons {
  background-color: #1d2507;
  height: 116px;
  width: 100%;
  margin-top: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.counter__button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

.counter__button:hover {
  background-color: #212b06;
}

.counter__button--decrease {

}

.counter__button--increase {
  border-left: 1px solid rgba(189, 254, 0, 0.15);
}

.counter__icon {
  color: #bdfe00;
  opacity: 0.9;
  font-size: 40px;
}

.counter__icon--minus {

}

.counter__icon--plus {
  
}

@media (max-width: 680px) or (max-height: 730px) {
  .counter {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .counter__title {
    margin-top: 100px;
  }

  .counter__buttons {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}